.body{background-color: rgb(185, 255, 255);}

#ci1 {
    border-radius: 100%;
    background-color: rgb(13, 28, 58);
    width:200px;
    height:200px;
    border:#000 solid 1px;
    display:inline-table;
    color:#000;
    position:absolute;
    top:100px;
    left:350px;
}

#ci2 {
    border-radius: 100%;
    background-color: rgb(23, 7, 255);
    width:200px;
    height:200px;
    border:#000 solid 1px;
    display:inline-table;
    color:#000;
    position:absolute;
    top:400px;
    left:700px;
}
