.body{background-color: rgb(185, 255, 255);}

#ci1 {
    border-radius: 100%;
    background-color: rgb(13, 28, 58);
    width:300px;
    height:300px;
    border:#000 solid 1px;
    display:inline-table;
    position:absolute;
    top:130px;
    left:400px;
}

#ci2 {
    border-radius: 100%;
    background-color: rgb(23, 7, 255);
    width:300px;
    height:300px;
    border:#000 solid 1px;
    display:inline-table;
    position:absolute;
    top:200px;
    left:600px;
}

#status {
    border-radius: 30px;
    background-color: rgb(0, 255, 170);
    width: 270px;
    height: 150px;
    display: inline-table;
    color:#000;
    position: absolute;
    top: 250px;
    left: 500px;
}

    #battery { 
    border-radius: 20px;
    background-color:  rgb(0, 255, 170);
    width: 50px;
    height: 70px;
    display: inline-table;
    position: absolute;
    top: 293px;
    left: 750px;
    }
}