
#ci1 {
    border-radius: 100%;
    background: linear-gradient(115deg,rgb(0, 0, 255), rgb(12, 255, 4));
    width:300px;
    height:300px;
    border:#000 solid 1px;
    display:inline-table;
    position:absolute;
    top:80px;
    left:350px;
}

#ci2 {
    border-radius: 100%;
    background: linear-gradient(115deg, rgb(12, 255, 4), #00F);
    width:300px;
    height:300px;
    border:#000 solid 1px;
    display:inline-table;
    position:absolute;
    top:250px;
    left:580px;
}

#status {
    border: 2px solid #000;
    border-radius: 30px;
    background-color: rgb(0, 255, 170);
    width: 150px;
    height: 120px;
    display: inline-table;
    color:#000;
    position: absolute;
    top: 250px;
    left: 500px;
}

    #battery { 
    border: 2px solid #000;
    border-radius: 10px;
    background-color:  rgb(0, 255, 170);
    width: 50px;
    height: 50px;
    display: inline-table;
    position: absolute;
    top: 285px;
    left: 620px;
    }
